<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vicente.vicenteboot.mapper.ReportSaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.vicente.vicenteboot.entity.ReportSale">
        <id column="id" property="id" />
        <result column="area_name" property="areaName" />
        <result column="sale_name" property="saleName" />
        <result column="product_type" property="productType" />
        <result column="product_name" property="productName" />
        <result column="sale_num" property="saleNum" />
        <result column="english_name" property="englishName" />
    </resultMap>

</mapper>
